<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="start" :icon="star"></ion-icon>
      </ion-button>
      <app-setting-route />
    </ion-buttons>
    <ion-title>User Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- user image -->
  <app-image-user />
  <!-- user image component -->
  <div class="calificacion">Puntuacion como Vendedor</div>
  <div>
    <!-- user data -->
    <app-user-data-image />
    <!-- user data component -->
  </div>
</ion-content>
