@mixin margin-x($pixels) {
  margin-left: $pixels;
  margin-right: $pixels;
}

.perfilNav {
  display: flex !important;
  padding: 10px;

  .buttons > * {
    @include margin-x(7px);
  }

  button {
    color: white;
    background-color: rgba(139, 70, 70, 0);
    ion-icon {
      font-size: xx-large;
    }
  }
}

.calificacion {
  margin: 20px;
}
