<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"> </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="explorar">
      <ion-label>Explorar</ion-label>
      <ion-icon name="search"> </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="subastar">
      <ion-label>Subastar</ion-label>
      <ion-icon name="hammer"> </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mis-ofertas">
      <ion-label>Mis Ofertas</ion-label>
      <ion-icon name="pricetags"> </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-label>Perfil</ion-label>
      <ion-icon name="person"> </ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
